{% extends "found/base.html" %}
{% block content %}
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'found/home.css' %}">
   <script>
      function redirect(){
         window.location.replace("{% url 'login' %}");
      }

      function register_lost_item(){
         window.location.replace("{% url 'foundmap' %}");
      }

      function find_lost_item(){
         window.location.replace("{% url 'lostmap' %}");
      }
   </script>

   {% if not user.is_authenticated %}
      <script>redirect();</script>
   {% endif %}

   <div class = "home-holder">
      <div class = "register-lost-item" onclick = "register_lost_item()">
         Register Lost Item
      </div>
      <div class = "find-item" onclick = "find_lost_item()">
         Find Item
      </div>
   </div>
{% endblock content %}