{% extends "found/base.html" %}
{% block content %}
   <link rel="stylesheet" type="text/css" href="{% static 'found/home.css' %}">
   <script>
      function redirect(){
         window.location.replace("{% url 'login' %}");
      }
   </script>

   {% if not user.is_authenticated %}
      <script>redirect();</script>
   {% endif %}

   <table>
      <tr>
         <td>
            
         </td>
         <td>

         </td>
      </tr>
   </table>
   <a href = "{% url 'foundform' %}">Register lost item</a>
   <a href = "{% url 'lost' %}">Find Lost item</a>
{% endblock content %}